/* # General */
html {
  background-color: #f8f9fa;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: forestgreen;
  text-decoration: none;
}

a:hover {
  color: forestgreen;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h5,
h6,
p {
  font-family: "Open Sans", sans-serif;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  padding: 0;
  background: #fff;
  padding: 20px 0;
  font-size: 14px;
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #556270;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: forestgreen;
}

#brand {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px 2px rgba(131, 173, 131, 0.863);
}

.nav-link.active.dropdown-item {
  color: forestgreen;
  text-decoration: none;
  background-color: #fff;
}

@media (max-width: 480px) {
  #brand {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  #brand {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 87vh;
  background-color: rgba(63, 73, 83, 0.8);
  overflow: hidden;
  position: relative;
}
#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-inner .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  filter: brightness(70%);
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(30, 35, 40, 0.6);
}

#hero .carousel-item {
  transition: transform 1s linear;
  overflow: hidden !important;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 58px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;

  text-shadow: 1px 1px 2px rgba(131, 173, 131, 0.863);
}
#hero p {
  margin: 0 auto 30px auto;
  color: #fff;
  font-size: 20px;
  font-weight: 4500;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0.5px 0.5px 1px rgba(131, 173, 131, 0.863);
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }
  #hero .carousel-container {
    top: 8px;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 86vh;
  }
  #hero h2 {
    font-size: 28px;
  }
  #hero p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  background-color: #f8f9fa;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(131, 173, 131, 0.863);
}
.about .content h5 {
  line-height: 24px;
  font-size: 18px;
}

.about .content {
  padding-left: 10px;
  padding-right: 10px;
}

.about .image {
  background: center;
  min-height: 200px;
  max-width: 100%;
  border-radius: 25px;
}

.about .content ul {
  list-style: circle;
  padding: 0;
  margin-left: 5%;
}

.about .content ul li {
  padding: 10px 0 0 0;
  position: relative;
}

#cyrus {
  margin-top: 3%;
}

#basenji-pic {
  margin-top: 10%;
}

@media (max-width: 991px) {
  .about .image {
    text-align: center;
  }
  .about .image {
    max-width: 80%;
    margin-top: 10%;
  }

  .about .content {
    text-align: center;
  }
}

@media (max-width: 667px) {
  .about .image {
    max-width: 100%;
    margin-top: 10%;
  }
}

/*--------------------------------------------------------------
# Past Pup
--------------------------------------------------------------*/
.portfolio {
  margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(85, 98, 112, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(85, 98, 112, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 0.5;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}

.container .title {
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(131, 173, 131, 0.863);
  justify-content: center;
  align-items: center;
  display: flex;
}

.container h5 {
  font-family: "Open Sans", sans-serif;
}
.testimonials .testimonial-item p {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  margin: 15px 0 0 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.social-links {
  padding-bottom: 60px;
  text-align: center;
}

.social-links a {
  font-size: 34px;
  display: inline-block;
  color: forestgreen;
  line-height: 0;
  padding: 16px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 65px;
  height: 65px;
  transition: 0.3s;
  border: 1px solid forestgreen;
}

.social-links a:hover {
  background: forestgreen;
  color: #fff;
}

.col:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

@media (max-width: 991px) {
  .info {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 20px 0;
  font-size: 14px;
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
}

#footer .copyright {
  text-align: center;
}

#footer .copyright a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #444444;
  padding: 0;
}

#footer .copyright a:hover {
  color: forestgreen;
  text-decoration: none;
}
