body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444444;
}

a {
  color: forestgreen;
  text-decoration: none;
}

a:hover {
  color: forestgreen;
  text-decoration: none;
}

h1,
h2,
h3,
h4
{
  font-family: "Raleway", sans-serif;
}

h5,
h6 {
  font-family: "Open Sans", sans-serif;
}